<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>353175007177-r9vb37evhdq01g6f00fuejbhc3iq6vkd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.353175007177-r9vb37evhdq01g6f00fuejbhc3iq6vkd</string>
	<key>API_KEY</key>
	<string>AIzaSyDh5dC3jk8y70mMPm4VH0VF9Hj7aAb6lu4</string>
	<key>GCM_SENDER_ID</key>
	<string>353175007177</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yusufyildirim.sonDeneme</string>
	<key>PROJECT_ID</key>
	<string>sondeneme-8f0f2</string>
	<key>STORAGE_BUCKET</key>
	<string>sondeneme-8f0f2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:353175007177:ios:41e191c992d61e614ec218</string>
	<key>DATABASE_URL</key>
	<string>https://sondeneme-8f0f2-default-rtdb.firebaseio.com</string>
</dict>
</plist>